{{!-- Created By: Akhil John Sunny
Date: April 20 2023 --}}
<h1>You have submitted the form</h1>
{{#if alreadyRegistered}}
    <h3>{{message}}</h3>

{{else}}
    <h3>{{registeredMessage}}</h3>
{{/if}}